section form{
    padding:2%;
    position: fixed;
    top: 30%;
    left: 25%;
    background-color: aqua;
    width: 40%;
    border-radius: 8px;
    
}
/*revisar essa parte*/
section .CardIntake, section .CardRemap{
    display: none;
}
section form h3{
    text-align: center;
}
section form input[type='radio']{
    margin-left: 25%;
    margin-top: 3%;

}
section form input[type='text']{
    width:60%;
    padding: 2%;
    border: none;
    border-radius: 9px;
    font-size: larger;
    margin-top:1%;
    margin-left: 15%;
}
section form input[type='submit']{
    width:40%;
    padding: 1%;
    border: none;
    border-radius: 5px;
    font-size: larger;
    margin-left: 27%;
    margin-top: 2%;
}
