section {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}
.Tabela {
    margin-top: 2%;
    width: 90%;

  }
.Tabela td, .Tabela th{
    border: 1px solid #ddd;
    padding: 1%;
    border-radius: 5px;
    text-align: center;
}
.Tabela tr:nth-child(even){background-color: #f2f2f2;}

.Tabela tr:hover {background-color: #ddd;}

.Tabela tr th {
  padding: 1%;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  width: 5%;
}
.Tabela tr th a{
 color:black;
}