.clients, .features, .plans, .faq, .cta {
  background-color: #fff;
  padding: 3rem 0;
  text-align: center;
}

.cards, .plan-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.cards article, .plan-cards article {
  background: #c4c4c4;
  padding: 1.5rem;
  border-radius: 8px;
  flex: 1 1 250px;
  max-width: 400px;
}

.info-hidden {
  display: none;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #444;
  font-weight: bold;
}
.btn-primary{
  padding: 0.75rem 1.5rem;
  border: none;
  text-decoration: none;
  margin: 0.5rem;
  display: inline-block;
}

.btn-primary {
  background-color: #0e70c0;
  color: white;
  border-radius: 6px;
}

.toggle-info + .info-hidden.show {
  display: block;
}
@media (max-width: 768px) {
  .cards, .plan-cards {
    flex-direction: column;
    align-items: center;
  
  }
  .cards article{
    max-width: 300px;
    height: 120px;
  }
 }