body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f4f8;
  color: #333;
}

main.cadastro, main.login {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.cadastro .container, .login .container, .contato .container {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.cadastro span, .login span, .contato span{
  color:red;
}
.cadastro h1, .login h1 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  color: #0e70c0;
}

.cadastro p, .login p {
  margin-bottom: 2rem;
  font-size: 1rem;
}

.form-cadastro, .form-login, .form-contato {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: left;
}

.form-cadastro label, .form-login label, .form-contato label{
  font-weight: 600;
  font-size: 0.9rem;
}

.form-cadastro input, .form-cadastro select, .form-login input, .form-login select, .form-contato select, .form-contato input{
  padding: 0.75rem;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.form-cadastro input:focus, .form-cadastro select:focus, .form-login input:focus, .form-login, .form-contato input:focus{
  border-color: #0e70c0;
  outline: none;
}
.form-cadastro .ModeloSelect {
  display: none;
}
.form-contato .mensagem {
  width: 100%;
  max-width: 500px;   
  height: 220px;      
  font-size: 26px;
  padding: 0 ;
    vertical-align: top;  /* mantém o texto no topo */
  padding: 6px 8px;     /* pequeno espaço interno */
  line-height: 1.4;     /* altura de linha natural */
   white-space: normal;
  resize: none;      
}
.btn-primary {
  padding: 0.75rem;
  background-color: #0e70c0;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-primary:hover {
  background-color: #095a9d;
}

.info {
  font-size: 0.85rem;
  color: #666;
  margin-top: 1.5rem;
}
.input-wrapper {
  position: relative;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.input-wrapper input {
  width: 100%;
  padding-right: 35px; /* espaço pro ícone */
}
.input-wrapper svg {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .cadastro .container {
    padding: 1.5rem;
  }

  .cadastro h1 {
    font-size: 1.5rem;
  }

  .form-cadastro input,
  .btn-primary {
    font-size: 0.95rem;
  }
}
