header .Search{
    display: grid;
    grid-template-columns: auto auto auto;
    color:red;
}
header .Search button{
    padding: 2%;
    text-align: center;
    font-size: larger;
    cursor: pointer;   
    width: 80%;
    border: none;
}
header .Search input[type="search"], header .Search select{
    padding: 1%;
    font-size: larger;
    width:40%;
    border-radius:6px;
}
header .Search input[type="search"]{
    background-color: aqua;
    border: none;
}
header .Search select{
    text-align: center;
    border: auto;
    cursor: pointer;
}
header .Search input[type="submit"]{
    padding: 1%;
    font-size: larger;
    width:20%;
    border-radius:6px ;
    border: none;
    cursor: pointer;
}